# Mailpit basic stack
MAILPIT_SMTP_PORT=1025
MAILPIT_WEB_PORT=8025
MAILPIT_MAX_MESSAGES=5000
MAILPIT_VERBOSE=false

# Mailpit advanced stack
MAILPIT_ADVANCED_SMTP_PORT=1026
MAILPIT_ADVANCED_WEB_PORT=8026
TZ=UTC

# MailDev basic stack
MAILDEV_SMTP_PORT=1027
MAILDEV_WEB_PORT=1080
